body {
    background-color: rgb(1, 1, 59);
}

div {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: start;
    margin-left: 40%;
    margin-top: 5%;
    font-weight: 1200;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    margin-top: -20px;
    color: aliceblue;
    font-size: large;
}

span {
    color: rgb(98, 231, 98);
}

button {
    width: 250px;
    height: 50px;
    margin-top: 25px;
    padding: 10px 20px;
    color: white;
    background-color: rgb(24, 170, 24);
    border: 0;
    border-radius: 12px;
    font-size: large;
    font-weight: bold;
}

#password {
    display: flex;
    margin-top: 25px;
    background-color: rgb(125, 125, 185);
    width: 250px;
    height: 40px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}